*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.canvas
{
    display: flex;
    background-color: rgba(2, 1, 34, 0.938);
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 80vw;
    aspect-ratio: 16/9;
    background-color: #fff;
    position: relative;
}
.btn
{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.left-button
{
    left: 20px;
}
.right-button
{
    right: 20px;
}
.flex-container
{
    height: 100%;
}