*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* mobile-first */
body{
    background-color: rgba(159, 165, 160, 0.836);
}
/* toggler */
/* .toggler
{
    display:none;
    padding: 12px;
    background-color:hsla(0, 14%, 4%, 0.897);
}
.toggler-item
{
    position: absolute;
    color: white;
    background-color: white;
    right: 10px;
} */
.navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 14%, 4%, 0.897);
}
.navbar-items
{
    list-style: none;
    border-radius: 5px;
    display: block;
    width: 100vw;
   text-align: center;
   margin-bottom: 2px;
}
.items
{
    text-decoration: none;
    color: rgba(243, 243, 225, 0.918);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    width: 100%;
    display: block;
    padding: 10px;
}
.items:hover
{
    background-color: rgba(199, 202, 199, 0.247);
}
/* responsive-desktop */
@media screen and (min-width:450px){
    /* .toggler{display: none;} */
    .navbar
    {
        justify-content: flex-end;
    }
    .navbar-items
    {
        display: inline-block;
        width: auto;
        margin-inline:20px;
    }
    .items{
        padding: 10px;
        border-radius: 10px;
        font-size: 1.5rem;
    }
}