@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;padding:0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}
.items
{
    padding: 5px;
    margin: 3px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.items>p
{
    margin-top: -5px;
}
.items>h3{
    padding-right: 20px;
}
.items>h3>span{
    margin-left: 100px;
}
.inner-box
{
    margin-left: 100px;margin-top: 20px;
}
.outer-box>header
{
    margin-left: 100px;
}